@layer components {
  .breadcrumb-link {
    transition: color 150ms var(--default-transition-timing-function);
    color: var(--foreground-muted);
    &:hover {
      color: var(--foreground);
    }
  }
}
