/* TODO: fix ui-closed animations */
@layer components {
  .modal-content {
    position: fixed;
    transition: all 150ms var(--default-transition-timing-function)
      allow-discrete;
    background-color: var(--background);
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    color: var(--foreground);
    [ui-open] > & {
      &::backdrop {
        animation: backdrop-in 150ms var(--default-transition-timing-function)
          forwards;
      }
    }
    [ui-closed] > & {
      &::backdrop {
        animation: backdrop-out 150ms var(--default-transition-timing-function)
          forwards;
      }
    }
    &::backdrop {
      backdrop-filter: blur(0.25rem);
    }
  }
  .qwik .modal-content {
  }
  .modern .modal-content {
  }

  .modal-content.position-center {
    margin: auto;
    box-shadow: var(--shadow-lg) var(--shadow);
    border: var(--default-border-width) solid var(--border);
    border-radius: var(--radius-2xl);
    max-width: var(--container-lg);
    max-height: var(--container-lg);
    [ui-open] > & {
      animation: zoom-and-fade-in 150ms
        var(--default-transition-timing-function) forwards;
    }
    [ui-closed] > & {
      animation: zoom-and-fade-out 150ms
        var(--default-transition-timing-function) forwards;
    }
  }
  .qwik .modal-content.position-center {
  }
  .modern .modal-content.position-center {
  }

  .modal-content.position-top {
    inset-inline: 0;
    top: 0;
    margin-bottom: auto;
    border-bottom: var(--default-border-width) solid var(--border);
    max-height: var(--container-xs);
    [ui-open] > & {
      animation: 150ms var(--default-transition-timing-function) both
        slide-in-from-top;
    }
    [ui-closed] > & {
      animation: 150ms var(--default-transition-timing-function) both
        slide-out-to-top;
    }
  }
  .qwik .modal-content.position-top {
    box-shadow: 2px 6px var(--shadow);
  }
  .modern .modal-content.position-top {
  }

  .modal-content.position-right {
    inset-inline: 0;
    right: 0;
    margin-left: auto;
    border-left: var(--default-border-width) solid var(--border);
    border-radius: var(--radius-sm);
    max-width: var(--container-xs);
    [ui-open] > & {
      animation: 150ms var(--default-transition-timing-function) both
        slide-in-from-right;
    }
    [ui-closed] > & {
      animation: 150ms var(--default-transition-timing-function) both
        slide-out-to-right;
    }
    @media (width >= 640px) {
      max-width: var(--container-xs);
    }
  }
  .qwik .modal-content.position-right {
    box-shadow: -5px 2px var(--shadow);
  }
  .modern .modal-content.position-right {
  }

  .modal-content.position-bottom {
    inset-inline: 0;
    bottom: 0;
    margin-top: auto;
    border-top: var(--default-border-width) solid var(--border);
    border-radius: var(--radius-sm);
    max-height: var(--container-xs);
    [ui-open] > & {
      animation: 150ms var(--default-transition-timing-function) both
        slide-in-from-bottom;
    }
    [ui-closed] > & {
      animation: 150ms var(--default-transition-timing-function) both
        slide-out-to-bottom;
    }
  }
  .qwik .modal-content.position-bottom {
    box-shadow: 2px -5px var(--shadow);
  }
  .modern .modal-content.position-bottom {
  }

  .modal-content.position-left {
    inset-inline: 0;
    left: 0;
    margin-right: auto;
    border-right: var(--default-border-width) solid var(--border);
    border-radius: var(--radius-sm);
    width: 75%;
    [ui-open] > & {
      animation: 150ms var(--default-transition-timing-function) both
        slide-in-from-left;
    }
    [ui-closed] > & {
      animation: 150ms var(--default-transition-timing-function) both
        slide-out-to-left;
    }
    @media (width >= 640px) {
      max-width: var(--container-xs);
    }
  }
  .qwik .modal-content.position-left {
    box-shadow: 6px -2px var(--shadow);
  }
  .modern .modal-content.position-left {
  }

  @keyframes backdrop-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes backdrop-out {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes zoom-and-fade-in {
    from {
      transform: translateY(0.5rem) scale(0.95);
      opacity: 0;
    }
    to {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  @keyframes zoom-and-fade-out {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0.9);
      opacity: 0;
    }
  }

  @keyframes slide-in-from-top {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slide-out-to-top {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }

  @keyframes slide-in-from-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slide-out-to-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes slide-in-from-bottom {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slide-out-to-bottom {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }

  @keyframes slide-in-from-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slide-out-to-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
