@reference "../../../global.css";

@layer components {
  .field-description {
    @apply text-sm leading-normal font-normal text-foreground-soft group-has-[[data-orientation=horizontal]]/field:text-balance;
    @apply last:mt-0 nth-last-2:-mt-1 [[data-variant=legend]+&]:-mt-1.5;
    @apply [&>a]:underline [&>a]:underline-offset-4 [&>a:hover]:text-standalone;
  }
}
