@reference "../../../global.css";
@import "./shared.css";

@layer components {
  /* .btn[variant="link"] {
    @apply decoration-2 underline-offset-4 transition-all will-change-transform hover:text-sky-500 hover:decoration-sky-500;
  }

  .btn[variant="alt-link"] {
    @apply decoration-2 underline-offset-4 transition-all will-change-transform hover:text-purple-500 hover:decoration-purple-500;
  }

  .btn[variant="danger-outline"] {
    @apply border border-danger-border text-sm text-danger-foreground shadow-sm shadow-danger-shadow hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-md focus-visible:ring-danger-ring;
  }

  .btn[variant="danger-ghost"] {
    @apply border border-transparent text-danger-foreground shadow-danger-shadow hover:border hover:border-danger-border hover:shadow-sm focus-visible:ring-danger-ring;
  }

  .btn[size="sm"] {
    @apply h-8 gap-1.5 px-3 has-[>svg]:px-2.5;
  }

  .btn[size="md"] {
    @apply h-9 px-4 py-2 has-[>svg]:px-3;
  }

  .btn[size="lg"] {
    @apply h-10 px-6 has-[>svg]:px-4;
  } */

  .btn.variant-link {
    &:hover {
      color: var(--color-sky-500);
    }
    &:focus-visible {
      outline: 2px solid var(--color-sky-500);
    }
  }

  .btn.variant-alt-link {
    &:hover {
      color: var(--color-purple-500);
    }
    &:focus-visible {
      outline: 2px solid var(--color-purple-500);
    }
  }

  .btn.variant-danger-outline {
    box-shadow: var(--shadow-sm) var(--danger-shadow);
    border: var(--default-border-width) solid var(--danger-border);
    background-color: var(--danger);
    color: var(--danger-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--danger-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--danger-ring);
    }
  }

  .btn.variant-danger-ghost {
    border: var(--default-border-width) solid transparent;
    background-color: var(--danger);
    color: var(--danger-foreground);
    &:hover {
      box-shadow: var(--shadow-sm) var(--danger-shadow);
      border: var(--default-border-width) solid var(--danger-border);
    }
    &:focus-visible {
      outline: 2px solid var(--danger-ring);
    }
  }

  /* sizes */
  .btn.size-sm {
    gap: 0.375rem;
    padding: 0 0.75rem;
    height: 2rem;
    &:has(> svg) {
      padding: 0 0.625rem;
    }
  }

  .btn.size-md {
    padding: 0.5rem 1rem;
    height: 2.25rem;
    &:has(> svg) {
      padding: 0.5rem 0.75rem;
    }
  }

  .btn.size-lg {
    padding: 0 1.5rem;
    height: 2.5rem;
    &:has(> svg) {
      padding: 0 1rem;
    }
  }
}
