@reference "../../../global.css";
@import "./shared.css";

@layer components {
  /* .btn[variant="link"] {
    @apply decoration-2 underline-offset-4 transition-all will-change-transform hover:text-sky-500 hover:decoration-sky-500;
  }

  .btn[variant="link"] {
    @apply decoration-2 underline-offset-4 transition-all will-change-transform hover:text-purple-500 hover:decoration-purple-500;
  }

  .btn[variant="primary"] {
    @apply border border-primary-border bg-primary-background text-primary-foreground shadow-sm shadow-primary-shadow hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-md;
  }

  .btn[variant="secondary"] {
    @apply border border-secondary-border bg-secondary text-secondary-foreground shadow-sm shadow-secondary-shadow hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-md;
  }

  .btn[variant="outline"] {
    @apply border border-border bg-outline text-outline-foreground shadow-sm shadow-shadow hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-md;
  }

  .btn[variant="ghost"] {
    @apply border border-transparent text-foreground shadow-shadow hover:border hover:border-border hover:bg-outline hover:shadow-sm;
  }

  .btn[variant="alert-outline"] {
    @apply border border-alert-border text-sm text-alert-foreground shadow-sm shadow-alert-shadow hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-md focus-visible:ring-alert-ring;
  }

  .btn[variant="alert-ghost"] {
    @apply border border-transparent text-alert-foreground shadow-alert-shadow hover:border hover:border-alert-border hover:shadow-sm focus-visible:ring-alert-ring;
  }
 */

  .btn.variant-main {
    box-shadow: var(--shadow-sm) var(--alt-primary-shadow);
    border: var(--default-border-width) solid var(--alt-primary-border);
    background-color: var(--alt-primary-background);
    color: var(--alt-primary-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--alt-primary-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--alt-primary-ring);
    }
  }

  .btn.variant-auxiliary {
    box-shadow: var(--shadow-sm) var(--alt-secondary-shadow);
    border: var(--default-border-width) solid var(--alt-secondary-border);
    background-color: var(--alt-secondary-background);
    color: var(--alt-secondary-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--alt-secondary-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--alt-secondary-ring);
    }
  }

  .btn.variant-outline {
    box-shadow: var(--shadow-sm) var(--alt-tertiary-shadow);
    border: var(--default-border-width) solid var(--alt-tertiary-border);
    background-color: var(--outline);
    color: var(--foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--alt-tertiary-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--alt-tertiary-ring);
    }
  }

  .btn.variant-link {
    color: var(--alt-standalone);
    &:hover {
      text-decoration: underline;
    }
    &:focus-visible {
      outline: 2px solid var(--alt-tertiary-ring);
    }
  }

  .btn.variant-ghost-link {
    color: var(--foreground);
    &:focus-visible {
      outline: 2px solid var(--alt-tertiary-ring);
    }
  }

  .btn.variant-ghost-outline {
    border: var(--default-border-width) solid transparent;
    background-color: var(--background);
    color: var(--foreground);
    &:hover {
      box-shadow: var(--shadow-sm) var(--alt-tertiary-shadow);
      border: var(--default-border-width) solid var(--alt-tertiary-border);
    }
    &:focus-visible {
      outline: 2px solid var(--alt-tertiary-ring);
    }
  }

  .btn.variant-alert {
    box-shadow: var(--shadow-sm) var(--alert-shadow);
    border: var(--default-border-width) solid var(--alert-border);
    background-color: var(--alert-background);
    color: var(--alert-foreground);
    &:hover {
      transform: translate(1px, 1px);
    }
    &:focus-visible {
      outline: 2px solid var(--alert-ring);
    }
  }

  /* sizes */
  .btn.size-sm {
    gap: 0.375rem;
    padding: 0 0.75rem;
    height: 2rem;
    &:has(> svg) {
      padding: 0 0.625rem;
    }
  }

  .btn.size-md {
    padding: 0.5rem 1rem;
    height: 2.25rem;
    &:has(> svg) {
      padding: 0.5rem 0.75rem;
    }
  }

  .btn.size-lg {
    padding: 0 1.5rem;
    height: 2.5rem;
    &:has(> svg) {
      padding: 0 1rem;
    }
  }
}
