@reference "../../../global.css";
@import "./shared.css";

@layer components {
  .btn[variant="link"] {
    &:hover {
      color: var(--color-sky-500);
    }
    &:focus-visible {
      outline: 2px solid var(--color-sky-500);
    }
  }

  .btn[variant="alt-link"] {
    &:hover {
      color: var(--color-purple-500);
    }
    &:focus-visible {
      outline: 2px solid var(--color-purple-500);
    }
  }

  .btn[variant="danger-outline"] {
    border: var(--default-border-width) solid var(--danger-border);
    background-color: var(--danger);
    color: var(--danger-foreground);
    box-shadow: var(--shadow-sm) var(--danger-shadow);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--danger-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--danger-ring);
    }
  }

  .btn[variant="danger-ghost"] {
    border: var(--default-border-width) solid transparent;
    background-color: var(--danger);
    color: var(--danger-foreground);
    &:hover {
      border: var(--default-border-width) solid var(--danger-border);
      box-shadow: var(--shadow-sm) var(--danger-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--danger-ring);
    }
  }

  /* sizes */
  .btn[size="sm"] {
    height: 2rem;
    gap: 0.375rem;
    padding: 0 0.75rem;
    &:has(> svg) {
      padding: 0 0.625rem;
    }
  }

  .btn[size="md"] {
    height: 2.25rem;
    padding: 0.5rem 1rem;
    &:has(> svg) {
      padding: 0.5rem 0.75rem;
    }
  }

  .btn[size="lg"] {
    height: 2.5rem;
    padding: 0 1.5rem;
    &:has(> svg) {
      padding: 0 1rem;
    }
  }
}
