@reference "../../../global.css";
@import "./shared.css";

@layer components {
  .icon-btn.variant-outline {
    box-shadow: var(--shadow-sm) var(--shadow);
    border: var(--default-border-width) solid var(--border);
    background-color: var(--background);
    color: var(--foreground);
    &:hover {
      transform: scale(1.01);
    }
    &:focus-visible {
      outline: 2px solid var(--ring);
    }
  }

  .icon-btn.variant-ghost {
    border: var(--default-border-width) solid transparent;
    border-radius: var(--radius-md);
    background-color: var(--background);
    color: var(--foreground);
    &:hover {
      background-color: var(--background-accent);
      color: var(--foreground-accent);
    }
    &:focus-visible {
      outline: 2px solid var(--ring);
    }
  }

  .icon-btn.variant-vanilla {
    border: none;
    background-color: transparent;
    color: var(--foreground);
    &:hover {
      transform: scale(1.025);
      color: var(--foreground-emphasis);
    }
    &:focus-visible {
      outline: 2px solid var(--ring);
    }
  }

  .icon-btn.size-sm {
    width: 2rem;
    height: 2rem;
    & > svg {
      width: 1rem;
      height: 1rem;
    }
  }

  .icon-btn.size-md {
    width: 2.25rem;
    height: 2.25rem;
    & > svg {
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  .icon-btn.size-lg {
    width: 2.5rem;
    height: 2.5rem;
    & > svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
