@reference "../../../global.css";
@import "./shared.css";

@layer components {
  .btn.variant-outline {
    box-shadow: var(--shadow-sm) var(--shadow);
    border: var(--default-border-width) solid var(--border);
    background-color: var(--outline);
    color: var(--outline-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--ring);
    }
  }

  .btn.variant-ghost {
    border: var(--default-border-width) solid transparent;
    background-color: var(--outline);
    color: var(--outline-foreground);
    &:hover {
      box-shadow: var(--shadow-sm) var(--shadow);
      border: var(--default-border-width) solid var(--border);
    }
    &:focus-visible {
      outline: 2px solid var(--ring);
    }
  }

  .icon-btn.size-sm {
    width: 2rem;
    height: 2rem;
  }

  .icon-btn.size-md {
    width: 2.25rem;
    height: 2.25rem;
  }

  .icon-btn.size-lg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
