@reference "../../../global.css";

@layer components {
  .btn {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: all 150ms var(--default-transition-timing-function);
    outline: none;
    border-radius: var(--radius-xs);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-sm);
    white-space: nowrap;
    &:disabled,
    &[aria-disabled="true"] {
      opacity: 0.5;
      pointer-events: none;
    }
    &:focus-visible {
      outline: 2px solid var(--ring);
      outline-offset: 2px;
    }
    & svg {
      flex-shrink: 0;
    }
  }

  /* shared variants */
  .btn.variant-primary {
    box-shadow: var(--shadow-sm) var(--primary-shadow);
    border: var(--default-border-width) solid var(--primary-border);
    background-color: var(--primary);
    color: var(--primary-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--primary-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--primary-ring);
    }
  }

  .btn.variant-alt-primary {
    box-shadow: var(--shadow-sm) var(--alt-primary-shadow);
    border: var(--default-border-width) solid var(--alt-primary-border);
    background-color: var(--alt-primary);
    color: var(--alt-primary-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--alt-primary-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--alt-primary-ring);
    }
  }

  .btn.variant-secondary {
    box-shadow: var(--shadow-sm) var(--secondary-shadow);
    border: var(--default-border-width) solid var(--secondary-border);
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--secondary-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--secondary-ring);
    }
  }

  .btn.variant-alt-secondary {
    box-shadow: var(--shadow-sm) var(--alt-secondary-shadow);
    border: var(--default-border-width) solid var(--alt-secondary-border);
    background-color: var(--alt-secondary);
    color: var(--alt-secondary-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--alt-secondary-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--alt-secondary-ring);
    }
  }

  .btn.variant-outline {
    box-shadow: var(--shadow-sm) var(--shadow);
    border: var(--default-border-width) solid var(--border);
    background-color: var(--outline);
    color: var(--outline-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--ring);
    }
  }

  .btn.variant-alt-outline {
    box-shadow: var(--shadow-sm) var(--alt-shadow);
    border: var(--default-border-width) solid var(--alt-border);
    background-color: var(--alt-outline);
    color: var(--alt-outline-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--alt-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--alt-ring);
    }
  }

  .btn.variant-ghost {
    border: var(--default-border-width) solid transparent;
    background-color: var(--outline);
    color: var(--outline-foreground);
    &:hover {
      box-shadow: var(--shadow-sm) var(--shadow);
      border: var(--default-border-width) solid var(--border);
    }
    &:focus-visible {
      outline: 2px solid var(--ring);
    }
  }

  .btn.variant-alt-ghost {
    border: var(--default-border-width) solid transparent;
    background-color: var(--alt-outline);
    color: var(--alt-outline-foreground);
    &:hover {
      box-shadow: var(--shadow-sm) var(--alt-shadow);
      border: var(--default-border-width) solid var(--alt-border);
    }
    &:focus-visible {
      outline: 2px solid var(--alt-ring);
    }
  }
}
