@reference "../../../global.css";

@layer components {
  /* 
  .btn {
    @apply inline-flex shrink-0 items-center justify-center gap-2 rounded-xs text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:border-ring focus-visible:ring-2 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 aria-invalid:border-danger-border aria-invalid:ring-danger-ring [&_svg]:pointer-events-none [&_svg]:shrink-0;
  }

  .btn[variant="primary"] {
    @apply border border-primary-border bg-primary text-primary-foreground shadow-sm shadow-primary-shadow hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-md;
  }
  .btn[variant="alt-primary"] {
    @apply border border-alt-primary-border bg-alt-primary text-alt-primary-foreground shadow-sm shadow-alt-primary-shadow hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-md;
  }

  .btn[variant="secondary"] {
    @apply border border-secondary-border bg-secondary text-secondary-foreground shadow-sm shadow-secondary-shadow hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-md;
  }
  .btn[variant="alt-secondary"] {
    @apply border border-alt-secondary-border bg-alt-secondary text-alt-secondary-foreground shadow-sm shadow-alt-secondary-shadow hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-md;
  }

  .btn[variant="outline"] {
    @apply border bg-outline text-outline-foreground shadow-sm hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-md;
  }
  .btn[variant="alt-outline"] {
    @apply border border-alt-border bg-alt-outline text-alt-outline-foreground shadow-sm shadow-alt-shadow hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-md;
  }

  .btn[variant="ghost"] {
    @apply border border-transparent text-foreground hover:border hover:border-border hover:bg-outline hover:shadow-sm;
  }
  .btn[variant="alt-ghost"] {
    @apply border border-transparent text-foreground shadow-alt-shadow hover:border hover:border-alt-border hover:bg-alt-outline hover:shadow-sm;
  } */

  .btn {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: all 150ms var(--default-transition-timing-function);
    outline: none;
    border-radius: var(--radius-xs);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-sm);
    white-space: nowrap;
    &:disabled,
    &[aria-disabled="true"] {
      opacity: 0.5;
      pointer-events: none;
    }
    &:focus-visible {
      outline: 2px solid var(--ring);
      outline-offset: 2px;
    }
    & svg {
      flex-shrink: 0;
    }
  }

  /* shared variants */
  .btn.variant-primary {
    box-shadow: var(--shadow-sm) var(--primary-shadow);
    border: var(--default-border-width) solid var(--primary-border);
    background-color: var(--primary);
    color: var(--primary-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--primary-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--primary-ring);
    }
  }

  .btn.variant-secondary {
    box-shadow: var(--shadow-sm) var(--secondary-shadow);
    border: var(--default-border-width) solid var(--secondary-border);
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--secondary-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--secondary-ring);
    }
  }

  .btn.variant-outline {
    box-shadow: var(--shadow-sm) var(--shadow);
    border: var(--default-border-width) solid var(--border);
    background-color: var(--outline);
    color: var(--outline-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--ring);
    }
  }

  .btn.variant-ghost {
    border: var(--default-border-width) solid transparent;
    background-color: var(--outline);
    color: var(--outline-foreground);
    &:hover {
      box-shadow: var(--shadow-sm) var(--shadow);
      border: var(--default-border-width) solid var(--border);
    }
    &:focus-visible {
      outline: 2px solid var(--ring);
    }
  }

  .btn.variant-alt-primary {
    box-shadow: var(--shadow-sm) var(--alt-primary-shadow);
    border: var(--default-border-width) solid var(--alt-primary-border);
    background-color: var(--alt-primary);
    color: var(--alt-primary-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--alt-primary-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--alt-primary-ring);
    }
  }

  .btn.variant-alt-secondary {
    box-shadow: var(--shadow-sm) var(--alt-secondary-shadow);
    border: var(--default-border-width) solid var(--alt-secondary-border);
    background-color: var(--alt-secondary);
    color: var(--alt-secondary-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--alt-secondary-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--alt-secondary-ring);
    }
  }

  .btn.variant-alt-outline {
    box-shadow: var(--shadow-sm) var(--alt-shadow);
    border: var(--default-border-width) solid var(--alt-border);
    background-color: var(--alt-outline);
    color: var(--alt-outline-foreground);
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--shadow-md) var(--alt-shadow);
    }
    &:focus-visible {
      outline: 2px solid var(--alt-ring);
    }
  }

  .btn.variant-alt-ghost {
    border: var(--default-border-width) solid transparent;
    background-color: var(--alt-outline);
    color: var(--alt-outline-foreground);
    &:hover {
      box-shadow: var(--shadow-sm) var(--alt-shadow);
      border: var(--default-border-width) solid var(--alt-border);
    }
    &:focus-visible {
      outline: 2px solid var(--alt-ring);
    }
  }
}
