@reference "../../../global.css";

@layer components {
  /* 
  .btn {
    @apply inline-flex shrink-0 items-center justify-center gap-2 rounded-xs text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:border-ring focus-visible:ring-2 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 aria-invalid:border-alert-border aria-invalid:ring-alert-ring [&_svg]:pointer-events-none [&_svg]:shrink-0;
  }
*/

  .btn-base {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: all 150ms var(--default-transition-timing-function);
    cursor: pointer;
    outline: none;
    border-radius: var(--radius-xs);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-sm);
    white-space: nowrap;
    &:disabled,
    &[aria-disabled="true"] {
      opacity: 0.5;
      pointer-events: none;
    }
    &:focus-visible {
      outline: 2px solid var(--ring);
      outline-offset: 2px;
    }
    & svg {
      flex-shrink: 0;
    }
  }
}
