@layer components {
  .btn-base {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: all 150ms var(--default-transition-timing-function);
    cursor: pointer;
    outline: none;
    border-radius: var(--radius-xs);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-sm);
    white-space: nowrap;
    &:disabled,
    &[aria-disabled="true"] {
      opacity: 0.5;
      pointer-events: none;
    }
    &:focus-visible {
      outline: 2px solid var(--ring);
      outline-offset: 2px;
    }
    & svg {
      flex-shrink: 0;
    }
  }
}
