@reference "../../../global.css";

@layer components {
  /* .chip {
    @apply inline-flex items-center rounded-sm px-2.5 py-0.5 text-xs font-semibold shadow-xs transition-colors focus:ring-2 focus:ring-ring focus:ring-offset-2 focus:outline-hidden;
  }

  .chip-primary {
    @apply bg-primary-background text-primary-foreground;
  }

  .chip-secondary {
    @apply bg-secondary text-secondary-foreground;
  }

  .chip-alert {
    @apply bg-alert text-alert-foreground;
  }

  .chip-outline {
    @apply border bg-outline text-outline-foreground;
  } */

  .chip {
    display: inline-flex;
    align-items: center;
    transition: all 150ms var(--default-transition-timing-function);
    border-radius: calc(infinity * 1px);
    background-color: var(--background);
    padding: 0.025rem 0.5rem;
    color: var(--foreground);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-xs);
    &:focus-visible {
      outline: 2px none var(--ring);
      outline-offset: 2px;
    }
  }

  .chip.variant-outline {
    box-shadow: var(--shadow-xs) var(--secondary-shadow);
    border: var(--default-border-width) solid var(--secondary-border);
    background-color: var(--background);
    color: var(--foreground);
  }

  .chip.variant-secondary {
    box-shadow: var(--shadow-xs) var(--secondary-shadow);
    border: var(--default-border-width) solid var(--secondary-border);
    background-color: var(--secondary-background);
    color: var(--secondary-foreground);
  }

  .chip.variant-primary {
    box-shadow: var(--shadow-xs) var(--primary-shadow);
    border: var(--default-border-width) solid var(--primary-border);
    background-color: var(--primary-background);
    color: var(--primary-foreground);
  }

  .chip.variant-alert {
    box-shadow: var(--shadow-xs) var(--alert-shadow);
    border: var(--default-border-width) solid var(--alert-border);
    background-color: var(--alert-background);
    color: var(--alert-foreground);
  }
}
