@reference "../../../global.css";

@layer components {
  .chip {
    display: inline-flex;
    align-items: center;
    transition: all 150ms var(--default-transition-timing-function);
    border-radius: calc(infinity * 1px);
    background-color: var(--background);
    padding: 0.025rem 0.5rem;
    color: var(--foreground);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-xs);
    &:focus-visible {
      outline: 2px none var(--ring);
      outline-offset: 2px;
    }
  }
  .qwik .chip {
  }
  .modern .chip {
    padding: 0.275rem 0.5rem;
  }

  .chip.variant-outline {
  }
  .qwik .chip.variant-outline {
    box-shadow: var(--shadow-xs) var(--secondary-shadow);
    border: var(--default-border-width) solid var(--secondary-border);
  }
  .modern .chip.variant-outline {
    border: var(--default-border-width) solid var(--border);
  }

  .chip.variant-secondary {
    background-color: var(--secondary-background);
    color: var(--secondary-foreground);
  }
  .qwik .chip.variant-secondary {
    box-shadow: var(--shadow-xs) var(--secondary-shadow);
    border: var(--default-border-width) solid var(--secondary-border);
  }
  .modern .chip.variant-secondary {
  }

  .chip.variant-primary {
    background-color: var(--primary-background);
    color: var(--primary-foreground);
  }
  .qwik .chip.variant-primary {
    box-shadow: var(--shadow-xs) var(--primary-shadow);
    border: var(--default-border-width) solid var(--primary-border);
  }
  .modern .chip.variant-primary {
  }

  .chip.variant-alert {
    background-color: var(--alert-background);
    color: var(--alert-foreground);
  }
  .qwik .chip.variant-alert {
    box-shadow: var(--shadow-xs) var(--alert-shadow);
    border: var(--default-border-width) solid var(--alert-border);
  }
  .modern .chip.variant-alert {
  }
}
