@reference "../../../global.css";

@layer components {
  .callout-root {
    display: grid;
    position: relative;
    grid-template-columns: 0 1fr;
    align-items: start;
    gap: 0.25rem;
    box-shadow: var(--shadow-sm) var(--shadow);
    border: var(--default-border-width) solid var(--border);
    border-radius: var(--radius-lg);
    padding: 0.75rem 1rem;
    width: 100%;
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    &:has(> svg) {
      grid-template-columns: 1rem 1fr;
      column-gap: 0.75rem;
    }
    & > svg {
      transform: translateY(0.125rem);
      width: 1rem;
      height: 1rem;
      color: currentColor;
    }
  }

  /* variants */

  .callout-root.variant-outline {
    background-color: var(--background);
    color: var(--foreground);
  }

  .callout-root.variant-danger {
    box-shadow: var(--shadow-sm) var(--danger-shadow);
    border-color: var(--danger-border);
    background-color: var(--danger);
    color: var(--danger-foreground);
    & > svg {
      color: currentColor;
    }
  }
}
