@reference "../../../global.css";

@layer components {
  .callout-root {
    @apply relative grid w-full grid-cols-[0_1fr] items-start gap-y-0.5 rounded-lg border px-4 py-3 text-sm shadow-sm has-[>svg]:grid-cols-[calc(var(--spacing)*4)_1fr] has-[>svg]:gap-x-3 [&>svg]:size-4 [&>svg]:translate-y-0.5 [&>svg]:text-current;
  }
  /* variants */
  .callout-root.variant-outline {
    @apply bg-background text-foreground;
  }
  .callout-root.variant-danger {
    @apply border-danger-border bg-danger text-danger-foreground shadow-danger-shadow [&>svg]:text-current;
  }
}
