@reference "../../../global.css";

@layer components {
  /* .callout-title {
    @apply col-start-2 line-clamp-1 min-h-4 font-medium tracking-tight;
  } */

  .callout-title {
    grid-column-start: 2;
    min-height: 1rem;
    overflow: hidden;
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-lg);
    letter-spacing: var(--tracking-tight);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
