@layer components {
  .callout-root {
    display: grid;
    position: relative;
    grid-template-columns: 0 1fr;
    align-items: start;
    gap: 0.25rem;
    border-radius: var(--radius-lg);
    padding: 0.75rem 1rem;
    width: 100%;
    &:has(> svg) {
      grid-template-columns: 1rem 1fr;
      column-gap: 0.75rem;
    }
    & > svg {
      transform: translateY(0.2rem);
      width: 1rem;
      height: 1rem;
      color: currentColor;
    }
  }
  .qwik .callout-root {
    box-shadow: var(--shadow-sm) var(--shadow);
  }
  .modern .callout-root {
    box-shadow: var(--shadow-sm);
  }

  /* variants */

  .callout-root.variant-default {
    box-shadow: var(--shadow-sm) var(--shadow);
    border: var(--default-border-width) solid var(--border);
    color: var(--foreground);
  }
  .qwik .callout-root.variant-default {
    background-color: color-mix(
      in oklch,
      var(--background-emphasis) 20%,
      transparent
    );
  }
  .modern .callout-root.variant-default {
  }

  .callout-root.variant-secondary {
    box-shadow: var(--shadow-sm) var(--secondary-shadow);
    border: var(--default-border-width) solid var(--secondary-border);
    background-color: color-mix(
      in oklch,
      var(--secondary-background) 15%,
      transparent
    );
    color: var(--foreground);
  }
  .qwik .callout-root.variant-secondary {
  }
  .modern .callout-root.variant-secondary {
  }

  .callout-root.variant-primary {
    box-shadow: var(--shadow-sm) var(--primary-shadow);
    border: var(--default-border-width) solid var(--primary-border);
    background-color: color-mix(
      in oklch,
      var(--primary-background) 10%,
      transparent
    );
  }
  .qwik .callout-root.variant-primary {
  }
  .modern .callout-root.variant-primary {
  }

  .callout-root.variant-alert {
    box-shadow: var(--shadow-sm) var(--alert-shadow);
    border: var(--default-border-width) solid var(--alert-border);
    background-color: color-mix(
      in oklch,
      var(--alert-background) 5%,
      transparent
    );
    & > svg {
      color: currentColor;
    }
  }
  .qwik .callout-root.variant-alert {
  }
  .modern .callout-root.variant-alert {
  }

  .dark .callout-root.variant-alert {
    background-color: color-mix(
      in oklch,
      var(--alert-background) 10%,
      transparent
    );
  }
  .qwik.dark .callout-root.variant-alert {
  }
  .modern.dark .callout-root.variant-alert {
  }
}
