@reference "../../../global.css";

@layer components {
  /* .callout-description {
    @apply col-start-2 grid justify-items-start gap-1 text-sm [&_p]:leading-relaxed;
  }
  .callout-description.variant-outline {
    @apply text-foreground/80;
  }
  .callout-description.variant-danger {
    @apply text-danger-foreground/90;
  } */

  .callout-description {
    display: grid;
    grid-column-start: 2;
    justify-items: start;
    gap: 0.25rem;
  }
}
