@reference "../../../global.css";

@layer components {
  /* .callout-root {
    @apply relative grid w-full grid-cols-[0_1fr] items-start gap-y-0.5 rounded-lg border px-4 py-3 text-sm shadow-sm has-[>svg]:grid-cols-[calc(var(--spacing)*4)_1fr] has-[>svg]:gap-x-3 [&>svg]:size-4 [&>svg]:translate-y-0.5 [&>svg]:text-current;
  }
  .callout-root.variant-outline {
    @apply bg-background text-foreground;
  }
  .callout-root.variant-alert {
    @apply border-alert-border bg-alert text-alert-foreground shadow-alert-shadow [&>svg]:text-current;
  } */

  .callout-root {
    display: grid;
    position: relative;
    grid-template-columns: 0 1fr;
    align-items: start;
    gap: 0.25rem;
    box-shadow: var(--shadow-sm) var(--shadow);
    border-radius: var(--radius-lg);
    padding: 0.75rem 1rem;
    width: 100%;
    &:has(> svg) {
      grid-template-columns: 1rem 1fr;
      column-gap: 0.75rem;
    }
    & > svg {
      transform: translateY(0.2rem);
      width: 1rem;
      height: 1rem;
      color: currentColor;
    }
  }

  /* variants */

  .callout-root.variant-outline {
    box-shadow: var(--shadow-sm) var(--tertiary-shadow);

    border: var(--default-border-width) solid var(--tertiary-border);
    background-color: color-mix(
      in oklch,
      var(--tertiary-background) 15%,
      transparent
    );
    color: var(--foreground);
  }

  .callout-root.variant-alt-outline {
    box-shadow: var(--shadow-sm) var(--alt-tertiary-shadow);
    border: var(--default-border-width) solid var(--alt-tertiary-border);
    background-color: color-mix(
      in oklch,
      var(--alt-tertiary-background) 15%,
      transparent
    );
    color: var(--alt-tertiary-foreground);
  }

  .callout-root.variant-alert {
    box-shadow: var(--shadow-sm) var(--alert-shadow);
    border: var(--default-border-width) solid var(--alert-border);
    background-color: color-mix(
      in oklch,
      var(--alert-background) 7%,
      transparent
    );
    & > svg {
      color: currentColor;
    }
  }
}
