@reference "../../../global.css";

@layer components {
  /* .callout-root {
    @apply relative grid w-full grid-cols-[0_1fr] items-start gap-y-0.5 rounded-lg border px-4 py-3 text-sm shadow-sm has-[>svg]:grid-cols-[calc(var(--spacing)*4)_1fr] has-[>svg]:gap-x-3 [&>svg]:size-4 [&>svg]:translate-y-0.5 [&>svg]:text-current;
  }
  .callout-root.variant-outline {
    @apply bg-background text-foreground;
  }
  .callout-root.variant-danger {
    @apply border-danger-border bg-danger text-danger-foreground shadow-danger-shadow [&>svg]:text-current;
  } */

  .callout-root {
    display: grid;
    position: relative;
    grid-template-columns: 0 1fr;
    align-items: start;
    gap: 0.25rem;
    box-shadow: var(--shadow-sm) var(--shadow);
    border: var(--default-border-width) solid var(--border);
    border-radius: var(--radius-lg);
    padding: 0.75rem 1rem;
    width: 100%;
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    &:has(> svg) {
      grid-template-columns: 1rem 1fr;
      column-gap: 0.75rem;
    }
    & > svg {
      transform: translateY(0.125rem);
      width: 1rem;
      height: 1rem;
      color: currentColor;
    }
  }

  /* variants */

  .callout-root.variant-outline {
    background-color: var(--background);
    color: var(--foreground);
  }

  .callout-root.variant-alt-outline {
    background-color: var(--alt-outline);
    color: var(--alt-outline-foreground);
    --shadow: var(--alt-shadow);
    --border: var(--alt-border);
  }

  .callout-root.variant-danger {
    box-shadow: var(--shadow-sm) var(--danger-shadow);
    border-color: var(--danger-border);
    background-color: var(--danger);
    color: var(--danger-foreground);
    & > svg {
      color: currentColor;
    }
  }
}
