@reference '../../../global.css';

@layer components {
  .input {
    @apply flex h-12 w-full border-tertiary-border shadow-tertiary-shadow rounded-sm border bg-background px-3 py-1 text-sm text-foreground shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-foreground-muted focus-visible:ring-1 focus-visible:ring-ring focus-visible:outline-hidden disabled:cursor-not-allowed disabled:opacity-50;
  }

  .input-error {
    @apply mt-1 text-sm text-alert-foreground;
  }
}
