@reference '../../../global.css';

@layer components {
  .input {
    display: flex;
    transition: all 150ms var(--default-transition-timing-function);
    box-shadow: var(--shadow-sm) var(--shadow);
    border: var(--default-border-width) solid var(--border);
    border-radius: var(--radius-sm);
    background-color: var(--background);
    padding: 0.25rem 0.75rem;
    width: 100%;
    height: 3rem;
    color: var(--foreground);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-sm);
    &::file-selector-button {
      border-width: 0;
      background-color: transparent;
      color: var(--foreground);
      font-weight: 500;
      font-size: var(--text-sm);
    }
    &::placeholder {
      color: var(--foreground-muted);
    }
    &:focus-visible {
      outline: 2px solid var(--ring);
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .input-error {
    margin-top: 0.25rem;
    color: var(--alert-foreground);
    font-size: var(--text-sm);
  }
}
