@reference "../../global.css";

@layer components {
  .sidebar-link {
    border-radius: var(--radius-md);
    color: var(--foreground);
    font-weight: 500;
    &:hover {
      background-color: var(--background-accent);
      color: var(--foreground-accent);
    }
  }
}
