@reference "../../../global.css";

@layer components {
  /* Separator horizontal */
  .separator-horizontal {
    @apply bg-secondary-border shadow-border h-0.5 w-full shrink-0 shadow-[3px_3px_1px];
  }

  /* Separator vertical */
  .separator-vertical {
    @apply bg-secondary-border shadow-border h-full w-0.5 shrink-0 shadow-[3px_3px_1px];
  }
}
