@layer components {
  .separator {
    flex-shrink: 0;
  }
  .qwik .separator {
    background-color: var(--secondary-border);
  }
  .modern .separator {
    background-color: var(--border);
  }

  .qwik .separator-horizontal {
    box-shadow: 3px 3px var(--border);
    width: 100%;
    height: 2px;
  }
  .modern .separator-horizontal {
    width: 100%;
    height: 1px;
  }

  .qwik .separator-vertical {
    box-shadow: 3px 3px var(--border);
    width: 2px;
    height: 100%;
  }
  .modern .separator-vertical {
    width: 1px;
    height: 100%;
  }
}
