@reference "../../../global.css";

@layer components {
  /* .card {
    @apply rounded-xs border bg-card text-card-foreground shadow-md;
  }

  .card.card-primary {
    @apply border-primary-border shadow-primary-shadow;
  }

  .card.card-secondary {
    @apply border-secondary-border shadow-secondary-shadow;
  }

  .card.card-altPrimary {
    @apply border-primary-border shadow-primary-shadow;
  }

  .card.card-altSecondary {
    @apply border-secondary-border shadow-secondary-shadow;
  }

  .card.card-outline {
    @apply bg-outline text-foreground shadow-shadow;
  }

  .card.card-altOutline {
    @apply border-border shadow-shadow;
  }
  */
  .card {
    box-shadow: var(--shadow-sm) var(--shadow);
    border: var(--default-border-width) solid var(--border);
    border-radius: var(--radius-xl);
    background-color: var(--card);
    color: var(--card-foreground);
  }

  .card.card-default {
    box-shadow: var(--shadow-sm) var(--shadow);
    border: var(--default-border-width) solid var(--border);
    background-color: var(--background);
  }

  .card.card-accent {
    box-shadow: var(--shadow-sm) var(--shadow-accent);
    border: var(--default-border-width) solid var(--border-accent);
  }

  .card.card-emphasis {
    box-shadow: var(--shadow-sm) var(--shadow-emphasis);
    border: var(--default-border-width) solid var(--border-emphasis);
  }
}
