@reference "../../../global.css";

@layer components {
  .card {
    border-radius: var(--radius-2xl);
    background-color: var(--card);
    color: var(--card-foreground);
  }
  .qwik .card {
  }
  .modern .card {
    border: var(--default-border-width) solid var(--border);
  }

  .card.card-default {
  }
  .qwik .card.card-default {
    box-shadow: var(--shadow-sm) var(--shadow);
    border: var(--default-border-width) solid var(--border);
  }
  .modern .card.card-default {
    box-shadow: var(--shadow-sm);
  }

  .card.card-accent {
  }
  .qwik .card.card-accent {
    box-shadow: var(--shadow-sm) var(--shadow-accent);
    border: var(--default-border-width) solid var(--border-accent);
  }
  .modern .card.card-accent {
    box-shadow: var(--shadow-md);
  }
  .modern.dark .card.card-accent {
    border: var(--default-border-width) solid var(--border-accent);
  }

  .card.card-emphasis {
  }
  .qwik .card.card-emphasis {
    box-shadow: var(--shadow-sm) var(--shadow-emphasis);
    border: var(--default-border-width) solid var(--border-emphasis);
  }
  .modern .card.card-emphasis {
    box-shadow: var(--shadow-lg);
  }
  .modern.dark .card.card-emphasis {
    border: var(--default-border-width) solid var(--border-emphasis);
  }
}
