@reference "../../../global.css";

@layer components {
  /* .card-description {
    @apply text-sm text-muted-foreground;
  } */

  .card-description {
    color: var(--foreground-muted);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
  }
}
