@reference "../../../global.css";

@layer components {
  /* .card {
    @apply rounded-xs border bg-card text-card-foreground shadow-md;
  }

  .card.card-primary {
    @apply border-primary-border shadow-primary-shadow;
  }

  .card.card-secondary {
    @apply border-secondary-border shadow-secondary-shadow;
  }

  .card.card-altPrimary {
    @apply border-primary-border shadow-primary-shadow;
  }

  .card.card-altSecondary {
    @apply border-secondary-border shadow-secondary-shadow;
  }

  .card.card-outline {
    @apply bg-outline text-foreground shadow-shadow;
  }

  .card.card-altOutline {
    @apply border-border shadow-shadow;
  }
  */
  .card {
    box-shadow: var(--shadow-sm) var(--shadow);
    border: var(--default-border-width) solid var(--border);
    border-radius: var(--radius-xl);
    background-color: var(--card);
    color: var(--card-foreground);
  }

  .card.card-primary {
    box-shadow: var(--shadow-sm) var(--primary-shadow);
    border: var(--default-border-width) solid var(--primary-border);
  }

  .card.card-secondary {
    box-shadow: var(--shadow-sm) var(--secondary-shadow);
    border: var(--default-border-width) solid var(--secondary-border);
  }

  .card.card-tertiary {
    box-shadow: var(--shadow-sm) var(--tertiary-shadow);
    border: var(--default-border-width) solid var(--tertiary-border);
  }

  .card.card-alt-primary {
    box-shadow: var(--shadow-sm) var(--alt-primary-shadow);
    border: var(--default-border-width) solid var(--alt-primary-border);
  }

  .card.card-alt-secondary {
    box-shadow: var(--shadow-sm) var(--alt-secondary-shadow);
    border: var(--default-border-width) solid var(--alt-secondary-border);
  }

  .card.card-alt-tertiary {
    box-shadow: var(--shadow-sm) var(--alt-tertiary-shadow);
    border: var(--default-border-width) solid var(--alt-tertiary-border);
  }
}
